<div class="max-w-sm rounded overflow-hidden shadow-lg m-[5%] min-w-max">
  <div class="px-6 py-4">
    <span class="font-bold text-xl mb-2">Owner name: </span>
    <span class="text-gray-700 text-base">{{communication.owner_name}}</span><br>
    <span class="font-bold text-xl mb-2">Owner email: </span>
    <span class="text-gray-700 text-base">{{communication.owner_email}}</span><br>
    <span class="font-bold text-xl mb-2">Date: </span>
    <span class="text-gray-700 text-base">{{communication.date}}</span><br>
    <span class="font-bold text-xl mb-2">Event: </span>
    <span class="text-gray-700 text-base">{{communication.event}}</span><br>
    <span class="font-bold text-xl mb-2">Type: </span>
    <span class="text-gray-700 text-base">{{communication.type}}</span><br>
    <span class="font-bold text-xl mb-2">CPF: </span>
    <span class="text-gray-700 text-base">{{communication.owner_cpf}}</span><br>
    <div class="flex flex-wrap justify-evenly">
      <button class="bg-red-700 hover:bg-red-900 text-white font-bold px-2 mx-2 rounded" (click)="deleteCommunication()">
        Delete
      </button>
      <button class="bg-red-700 hover:bg-red-900 text-white font-bold px-2 mx-2 rounded">
        Update
      </button>
    </div>
  </div>
</div>
