<div>
  <div>
    <input
      class="shadow appearance-none border rounded  py-2 px-3 mx-5 mt-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" placeholder="Search by CPF" (keyup)="setFilteredCommunicationList()" #cpfFilter mask="000.000.000-00">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 mx-5 mt-5 rounded"
      data-modal-toggle="defaultModal">
      Create communication
    </button>
    <div id="defaultModal" tabindex="-1" aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">

      <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">

        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

          <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
            <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="defaultModal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <app-form class="flex justify-evenly"></app-form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-evenly">
    <app-card *ngFor="let communication of filteredCommunicationList" [communication]="communication"></app-card>
  </div>
</div>
